.greenbox {
background-color: #4aaaa5;
color: #ffffff;
width: 150px;
height: 75px;
display: inline-block;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.greentitle {
    color: #4aaaa5;
}
.matt {
    height: 250px;
    width: 200px;
}